spring.datasource.url=${DB_URL:jdbc:postgresql://localhost:5432/extension_blocker}
spring.datasource.username=${DB_USERNAME:postgres}
spring.datasource.password=${DB_PASSWORD:postgres}

app.storage.type=s3
app.storage.s3.bucket=${S3_BUCKET:extension-blocker-files}
